html {
  background: #F4F4F4;
}

body {
  margin: 0;
  padding: 0;
}

.input-group-addon {
  min-width: 95px;
}

.odd-hr {
  width: 100%;
}

.float-right {
  float: right;
  margin-right: 20px !important;
}

.app-container {
  margin-top: 125px;
  background: #FFFFFF;
}
.display-inline {
  display: inline-block;
}

ul {
  list-style: none;
  padding: 0;
}

.side-nav {
  height: 100%;
  padding: 0;
  color: #ffffff;
  .nav-ul {
    position: fixed;
    top: 80px;
    padding: 0;
    font-size: 13px;
    a {
      color: inherit;
      padding: 14px 0px;
      background-color: none;
    }
    a:focus {
      background: none !important;
    }
    a:hover {
      background: inherit;
    }
  }
}

.sign-in-container {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  .sign-in-form {
    margin: 5px 0 20px;
  }
}

.center-text {
  text-align: center;
}

.alan-arms-pos {
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  background: #999999;
  line-height: 30px;
  color: #ffffff;
  padding: 0;
  height: 125px;
  box-shadow: 0px 1px 4px 0px #848484;
  img {
    padding: 5px 0;
    width: 150px;
  }
  ul {
    margin-top: 9px;
  }
}
.alan-arms-pos ul {
  text-align: center;
}
.alan-arms-pos a {
  color: inherit;
}

.inventory-list-item-bound {
  border-top: 2px solid #ccc;
  padding: 0;
}
ul.inventory-list-item-bound .col-md-2 {
  padding: none;
}
ul.inventory-list-item-bound li {
  // height: auto;

  height: 72px;
  /* margin: 7px; */
  color: #333;
  padding: 0;
  background-color: #fff;
  /* border: 2px solid #ccc; */
  /* border-radius: 4px; */
  /* border-top: 1px solid #ccc; */
  border-bottom: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
}

ul.inventory-list-item-bound li div {
  display: inline-block;
  box-sizing: border-box;
  padding: 9px 0 7px 9px;
  height: 100%;
  vertical-align: top;
}

ul.inventory-list-item-bound li .product-id {
  background: #ececec;
  border-right: 2px solid #ccc;
  padding: 9px 5px 7px !important;
}

ul.inventory-list-item-bound li .item-type {
  background: rgb(236, 236, 236);
}

.item-description {
  border-left: 2px solid #ccc;
}

.app-container {
  padding-top: 30px;
  min-height: 675px;
  height: 100%;
  // border-left: 2px solid rgb(202, 202, 202);
  // border-right: 2px solid rgb(202, 202, 202);
  box-shadow: 0px 1px 4px 0px #848484;
  //  #item-info-block {
  //   display: block;
  //   width: 150px;
  //   height: 34px;
  //   padding: 6px 12px;
  //   font-size: 14px;
  //   line-height: 1.42857143;
  //   color: #555;
  //   background-color: #fff;
  //   background-image: none;
  //   border: 1px solid #ccc;
  //   border-radius: 4px;
  //   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  //   box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  //   .disabled {
  //     background-color: lightgray;
  //   }
  // }

  .new-item-creation {
    margin: 20px 0 20px;
    .manual-add-item {
      margin: 20px 50px 0 0;
      // width: 380px;
      display: block;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }
    .description {
      height: 100px;
      resize: none;
    }
    .manual-input-title {
      margin: 20px 10px 0 0;
      display: inline-block;
      float: left;
      box-sizing: border-box;
      padding: 6px 0 0 0;
    }
  }
  
}

.top-nav-button:hover {
  background: #2A3C51;
}

.scanning {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.start-scanning {
  margin: 0 0 40px 0;
  font-size: 20px;
}

.stop-scanning {
  margin: 0 0 40px 0;
  font-size: 20px;
  background-color: #F07F4E;
}

.stop-scanning:hover {
  background-color: #DF4007;
}

.scanned-item-list {
  margin: 30px 0;
}

.scanned-item-container {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-top: 15px;
  .scanned-item-attribute {

  }
}

.scanner-setup-button {
  float: right;
  background-color: #EEEEEE;
}


.scanned-item-counter {
  height: 50px;
  border: 1px solid #ccc;
  font-size: 20px;
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 4px;
  p {
    padding: 3px 0 0;
  }
  .scanned-item-total {
    font-size: 24px;
    padding-top: 0;
    padding-left: 14px;
  }
}

.display-scanned-item {
  label {
    margin: 0;
  }
}


// INVENTORY INVENTORY INVENTORY INVENTORY INVENTORY ___________________


.page-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.bold {
  font-weight: bold;
}

.manufacturer-names {
  margin: 15px 0;
  height: 40px;
  .manufacturers {
    .manufacturer {
      text-align: center;
      height: 40px;
      box-sizing: border-box;
      padding: 0;
      padding-top: 12px;
      font-size: 12px;
    }
  }
}

.manufacturer-title {
  padding: 0;
  .center-number {
    height: 35px;
    box-sizing: border-box;
    padding-top: 5px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    background: #222222;
    font-weight: 400;
  }
}

.all-inventory-number {
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
}

.backorder-number {
  color: red;
}

.number-center {
  text-align: center;
  font-size: 20px;
}

.in-stock {
  padding: 0;
}

/*place new order stuff*/
.customer-state{
  display: inline-block;
  width: 47px;
  margin: 5px;
}

.select-customer {
  height: auto;
  line-height: 23px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 20px;
  background: #F2F2F2;
}

.merchant-info {
  float: left;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 20px;
}

.merchant {
  height: 40px;
  box-sizing: border-box;
  padding: 10px 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 20px 0 0;
}

.crumbs {
  margin-right: 65%;
  height: 40px;
  box-sizing: border-box;
  padding: 10px 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.states-bread, .customers-bread {
  cursor: pointer;
  font-weight: bold;
}

.customer-order-detail-top {
  margin-top: 20px;
  font-size: 20px;
}

.customer-detail-font {
  font-size: 16px;
}

.customer-order-detail-bottom {
  margin-bottom: 20px;
}

.seller-info {
  float: right;
}

.item-list-bound, .item-total-bound {
  float:left;
  clear: both;
  width: 100%;
}

.try {
  height: inherit;
}
.final-order{
  margin-bottom: 75px;
  .print-sales, .print-invoice {
    margin-top: 75px;
  }
}
.in-stock-items {
  border-bottom: solid 3px black;

}
.order-heading {
  border-bottom: solid 3px black;

  .aa-tactical {
    width: 30%;
    clear: left;
  }
  .seller-info {
    /*float: right;*/
  }
}

.customer-info-bound {
  border-bottom: solid 3px black;
  height: 160px;

  .left-info {
    width: 45%;
    float: left;
  }  
  .right-info {
    width: 45%;
    float: right;
  }
}

.ordered-item {
  width: 100%;
  border-bottom: solid 1px gray;

  li {
  width: 30%;
  display: inline-block;
  }
}
  .item-dealer-price{

    float:right;
    text-align: right;
  }
.backordered-item{
  width: 100%;
  border-bottom: solid 1px gray;
  li {

  /*width: 200px;*/
  display: inline-block;
  }
}
.sum-total {
    width: 100%;
    text-align: right;
    div {
      /*float: right;*/
    }
}

.backorder-items {
  border-bottom: solid 3px black;

}  
.try {
  height: inherit;
}

// CUSTOMERS CUSTOMERS CUSTOMERS ________________________________

.customer-list {
  margin-left: 10%;
}
.customer-list li {
  padding-left: 0;
}
.customer-container {
  margin: 10px 15px 0;
  border-radius: 3px;
  line-height: 24px;
  border: 1px solid gray;
  background: #ececec;
  box-sizing: border-box;
  padding: 10px 15px;
  box-shadow: 0px 1px 2px 0px rgb(126, 126, 126);
  transition: all 150ms;
  cursor: pointer;
  .customer-division {
    border-top: 1px solid gray;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .company-name {
    font-size: 20px;
    padding: 5px;
  }
  .customer-inline {
    display: inline-block;
  }
  .edit-customer {
    position: absolute;
    right: 15px;
  }
}

.customer-modal-container {
  text-align: center;
  overflow: visible;
  display: block;
  opacity: 1;
  background: rgba(40,40,40,0.1);
  // top: 146px;
  .modal-content {
    margin-top: 140px;
  }
  .modal-header {
    background: #F4F4F4;
    border-radius: 6px 6px 0 0;
  }
}
.edit-customer-input {
  width: 140px !important;
}

.edit-customer-input.state-input{
  width: 110px !important;
}

.new-customer-input {
  height: 35px;
  margin: 15px 0;
  border-radius: 4px;
  border: 2px solid #ccc;
}

.new-customer-title {
  margin: 22px 0 0;
}

.customer-container:hover {
  // background: #FCFCFC;
  box-shadow: 0px 2px 4px 1px #BABABA;
}

.form-group {
  margin: 10px 10px 0 0;
}

.form-inline-hidden {
  margin: 25px;
}

.hidden-customer-creation {
  display: none;
}

.creation-button {
  display: inline-block;
  margin-left: 25px;
}

.search-add-customers {
  margin: 0 0 25px 10px;
}

.state-addon {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border: 1px solid #ccc !important;
}

.delete-customer {
  position: absolute;
  right: 10px;
  padding: 2px 6px 0;
  display: none;
//   height: 25px;
//   width: 25px;
//   border: 2px;
//   border-radius: 4px;
}

/*place new order stuff*/
.customer-state{
  display: inline-block;
  margin-left: 5px;
}

.merchant-info {
  float: left;
}

.seller-info {
  float: right;
}

.item-list-bound, .item-total-bound {
  float:left;
  clear: both;
  width: 100%;
}

/*CART*/
.cart-total {
  width: 150px;
  height: 40px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.total-div {
  height: 100%;
  padding: 10px;
  border-right: 1px solid #ccc;
  background: #ECECEC;
}

.sum-div {
  height: 100%;
  padding-top: 10px;
}

.seller-info {
  text-align: center;
  font-size: 16px;
}

.seller-icon {
  width: 200px;
  margin-bottom: 15px;
}

.item-name {
  font-size: 17px;
  min-width: 260px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 15px;
}

.price-split {
  width: auto;
  padding: 0 20px;
}

@media print {
.noPrint, .home {
    display:none;
  }
  .app-container{
    margin: 0px;
    padding: 0px;
  }
  .order-heading {
    height: 130px;
  }
  .in-stock-items {
    padding-bottom: 20px;
  }
}
